.advises {
    position: absolute;
    bottom: 0;
    left: 30vh;
    max-width: 100%;
    padding: 15vh;
    display: flex;
    flex-direction: column;
    color: dodgerblue;
    margin: 0 auto;
    align-items: left;
}

.advise {
    display: flex;
    color: dodgerblue;
    margin-top: 2vh;
}

.advises p {
    font-family: 'Courier New', monospace;
    color: #dcdcdc; 
    font-size: 1.2em;
}