.advises {
    position: absolute;
    bottom: 0;
    left: 35vh;
    max-width: 100%;
    padding: 12vh;
    display: flex;
    flex-direction: column;
    color: dodgerblue;
    margin: 0 auto;
    align-items: left;
}

.advise {
    display: flex;
    align-items: center;
    justify-content: left;
    color: dodgerblue;
    margin-top: 0.5vh;
}

.icon {
    margin-right: 2vh;
    height: 3vh;
    width: 3vh;
}

.advises p {
    font-family: 'Courier New', monospace;
    color: #dcdcdc; 
    font-size: 1.2em;
}

@media (max-width: 1420px) {
    .advises {
        padding: 10vh;
        left: 2vh;
    }
    
    .icon {
        margin-right: 1.6vh;
        height: 2vh;
        width: 2vh;
    }

    .advises p {
        font-size: 0.9em;
    }
}