/* App header */
.App-header-dark {
    min-height: 20vh;
    max-width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    opacity: 80%;
    margin: auto;
    padding: 0;
}

.App-header-light {
    min-height: 20vh;
    max-width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: rgb(41, 39, 39);
    opacity: 80%;
    margin: auto;
    padding: 0;
}

.App-header-neutral {
    min-height: 20vh;
    max-width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: rgb(61, 37, 9);
    opacity: 80%;
    margin: auto;
    padding: 0;
}

@media (max-width: 1420px) {
    .App-header-dark,
    .App-header-light,
    .App-header-neutral {
        max-width: 90%;
        justify-content: space-around;
    }
}

/* App logo + name */
.brand-dark,
.brand-light,
.brand-neutral {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
}

.brand-dark h1 {
    color: #ffffff;
    font-size: 6vh;
    letter-spacing: -0.3vh;
}

.brand-light h1 {
    color: rgb(41, 39, 39);
    font-size: 6vh;
    letter-spacing: -0.3vh;
}

.brand-neutral h1 {
    color: rgb(61, 37, 9);
    font-size: 6vh;
    letter-spacing: -0.3vh;
}

.brand-dark .App-logo {
    height: 8vh;
    pointer-events: none;
}

.brand-light .App-logo {
    height: 8vh;
    pointer-events: none;
}

.brand-neutral .App-logo {
    height: 8vh;
    pointer-events: none;
}

@media (max-width: 1420px) {
    .brand-dark h1 {
        font-size: 4vh;
        letter-spacing: -0.3vh;
    }

    .brand-light h1 {
        font-size: 4vh;
        letter-spacing: -0.3vh;
    }

    .brand-neutral h1 {
        font-size: 4vh;
        letter-spacing: -0.3vh;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .brand-dark .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }

    .brand-light .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }

    .brand-neutral .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Leaderboard */
.leaderboard-dark,
.leaderboard-light,
.leaderboard-neutral {
    height: 6vh;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard-dark:hover,
.leaderboard-light:hover,
.leaderboard-neutral:hover {
    background-color: rgb(146, 77, 231);
    border-radius: 10px;
}

.leaderboard-dark p {
    font-size: medium;
    color: whitesmoke;
}

.leaderboard-light p {
    font-size: medium;
    color: rgb(41, 39, 39);
}

.leaderboard-neutral p {
    font-size: medium;
    color: rgb(71, 42, 9);
}

@media (max-width: 1420px) {
    .leaderboard-dark,
    .leaderboard-light,
    .leaderboard-neutral {
        height: 6vh;
        width: 50%;
    }

    .leaderboard-dark p {
        font-size: small;
    }

    .leaderboard-light p {
        font-size: small;
    }

    .leaderboard-neutral p {
        font-size: small;
    }
}